
#vboxStyle{
	-fx-padding: 30px;
}

#buttonProfile, #buttonOptio, #buttonSetting, #buttonLogin{
	-fx-padding: 8px 0 8px 0;
	
}
#switchButton:hover, #buttonProfile:hover, #buttonOptio:hover, #buttonSetting:hover, #buttonLogin:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .8), 3, 3, 3, 3);
}

#switchButton, #storeFile{
	-fx-background-color: #2b4067;
}

#infoEaun {
	-fx-border-color:   #2b4067;
	-fx-border-radius: 10;
	-fx-background-color: #ffffff;
	-fx-padding:5px 10px 5px 10px;

}
