
#vboxStyle{
	-fx-padding: 30px;
}

#buttonProfile, #buttonOptio, #buttonSetting, #buttonLogin{
	-fx-padding: 8px 0 8px 0;
	
}
#buttonProfile:hover, #buttonOptio:hover, #buttonSetting:hover, #buttonLogin:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .8), 3, 3, 3, 3);
}